.button {
    &--contact {
        &--static {
            position: fixed;
            right: 0;
            top: 50%;
            height: 15rem;
            width: 3rem;
            border-radius: 3px 0 0 3px;
            transform: translateY(-50%);
            background-color: $black;
            z-index: 20;
            transition-property: height width;
            transition-duration:  200ms;
            transition-timing-function: ease;

            &:hover {
                height: 17rem;
                width: 3.5rem;
            }

            @include respond(tab-port) {
                width: 2rem;
            }
                
            
        }
    }
}

.button--contact--static > p {
    color: $white;
    transform: translate(-50%, 50%) rotate(270deg);
    position: absolute;
    bottom: 50%;
    left: 50%;
    font-size: 1.3rem;
    
    transition: all 200ms ease;

    &:hover {
        font-size: 1.35rem;
    }
}

.button--contact--static > p > a {
    color: $white;
}

