.svg {
    &--regular {
        fill:white; 
        height: 1.2rem;
        width: 1.2rem;
        font-size: 1.2rem;
        font-weight: 400;
    }
    
    &--small {
        height: 1.2rem;
        width: 1.2rem;
        font-size: 1.2rem;
        font-weight: 400;
    }    
}
