.section {
    width: calc(100% - 24rem);
    margin-top: 15rem;
    position: relative;
    padding-left: 4rem;

    @include respond(tab-land) {
        width: calc(100% - 20rem);
        margin-top: 10rem;
    }

    @include respond(tab-port) {
        padding: 0;
        width: 100%;
        margin-top: 10rem;
    }
}

//----------------------- WELCOME section starts here -----------------------------
.section--welcome {
    margin-top: 19rem !important;
    height: calc(100vh - 19rem) !important;
    padding-bottom: 0 !important;

    @include respond(tab-land) {
        height: 90vh !important;
    }

    @include respond(tab-port) {
        margin-top: 10rem !important;
        // height: calc(80vh - 10rem);
    }

    @include respond(phone) {
        height: 70vh !important;
    }
}

//*********************** WELCOME section ends here ***************************** 

//----------------------- ABOUT section starts here -----------------------------

.section--about {
    @include respond(tab-port) {
        padding: 0 4rem;
    }
}

.about {
    
    &__content{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 4rem;


        @include respond(tab-land) {
            flex-direction: column-reverse;
        }
    }

    &__info {
        height: 100%;
        max-width: 50%;


        @include respond(tab-land) {
            max-width: 100%;
        }

        &__headings {
            margin-bottom: 10rem;
            transition: font-size 1000ms ease;

            @include respond(phone) {
                margin-bottom: 6rem;
            }

            & > h5 {
                margin-bottom: 1rem;
            }
        }
        
        &__text {
            font-size: 1.2rem;
            text-align: justify;

            &--es {
                margin-bottom: 4rem;
            }
        }
    }

    &__team {

        &__fullteam {
            height: 100%;
            width: 100%;
            opacity: 0;
            z-index: 1;
            display: none;              
        }

        &__team-img {
            height: 100%;
            width: 100%;
            background-position: bottom;
            object-fit: cover;
        }

        &__members {
            display: none;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            row-gap: 4rem;
            overflow: hidden;

            @include respond(tab-port) {
                gap: 2rem;
                
            }
  
            &__mate {
                width: 50%;
                height: 50%;

                @include respond(tab-port) {
                    height: 45%;
                    width: 45%;
                }

                &__img {
                    height: 18rem;
                    width: 18rem;
                    object-position: top;
                    object-fit: cover;

                    @include respond(tab-land) {
                        height: 14rem;
                        width: 14rem;
                    }

                    @include respond(tab-port) {
                        height: 12rem;
                        width: 12rem;
                    }
                }
            }

            &__external-mates {
                width: 100%;
                
                &__heading {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}


//*********************** ABOUT section ends here ***************************** 

//----------------------- PROJECTS section starts here -----------------------------


.section--projects {
    padding: 4rem;
}

//*********************** PROJECTS section ends here ***************************** 



//----------------------- NEWS section starts here -----------------------------

.section--news {
    //cointains cards
    //contains grid
    @include respond(tab-port) {
        padding: 0 4rem;
    }

    
}

//*********************** NEWS section ends here ***************************** 


//----------------------- CONTACT section starts here -----------------------------


.section--contact {
    min-height: 80vh;

    @include respond (tab-port) {
        padding: 0 4rem;
    }
}

.contact {

    &__info {
        position: absolute;
        bottom:  0;
        max-width:  40%;

        @include respond(tab-land) {
            max-width: 70%;
        }


        &__data {
            margin-top: 4rem;

            &__heading {
                margin-bottom: 1rem;

                &--country {
                    margin-bottom: 1rem;
                    
                }

            }
            
            &__content {
                border-top: 1px solid $gray ;
                padding-top: 1rem;

                &--adress {
                    display: flex;
                    flex-direction: row;
                    column-gap: 4rem;
                }

                &__data {
                    
                    max-width: 100%;
                }
                
            }
        }
    }
}









